/***********
GENERAL
************/

body {
  font-family: 'Arbutus Slab', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
}

/************************
PAGE: CONTACT
*************************/

.contact-info {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
}

.contact-info a {
  display: inline-block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../pictures/phone.png');
}

.contact-info li.mail a {
  background-image: url('../pictures/mail.png');
}

.contact-info li.github a {
  background-image: url('../pictures/github.png');
}

/**************
HEADING
***************/

#wrapper {
  max-width: 940 px;
  margin: 0 auto;
  padding: 0 5%;
}

#wrapper li p {
  color: #fff;
}

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#main {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 1.75em;
  margin: 15px 0;
  font-weight: normal;
}

/* links */
a {
  color: #01a9d4;
}

/* blue header */
header {
  background-color: #01a9d4;
  border-color: #ffbb33;
}

h1 {
  color: #fff;
}

/***********
NAVIGATION
***********/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/**********
FOOTER
**********/


footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
}

/* nav background on mobile */
nav {
  background: #0095b6;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* music nav link */
nav a.music, nav a:hover {
  color: #ccccff;
}

/* site body */
body {
  background-color: #b2beb5;
  color: #fff;
}

/**************************
PAGE: ABOUT
***************************/

.profile-photo {
  display: block;
  max-width: 200px;
  margin: 0 auto 30px;
  border-radius: 20%;
}